<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>
  <h1>Error</h1>
  <p>An error occurred during the search.</p>
  <a href="/">Search again</a>
</body>
</html>
