<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
  <meta charset="UTF-8">
  <title>No Results</title>
</head>
<body>
  <h1>No Results</h1>
  <p>No results found.</p>
  <a href="/">Search again</a>
</body>
</html>
